{% extends 'base_shop.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div>
    <h2>Магазин</h2>
    <p>Интернет-магазин oodji – это стильная мужская и женская одежда от ведущих модельеров России и Франции с доставкой по всей стране. У нас есть базовые и оригинальные модели на каждый день и для особого случая, для деловых встреч и для активного отдыха. В магазине oodji вы можете купить вещи на любой сезон. Яркие цвета, необычные принты, оригинальный крой, разнообразие фасонов позволят вам выглядеть эффектно, привлечь внимание, создать собственный стиль.
Доставка осуществляется бесплатно в любой город России, почтой или курьерской службой доставки. Вы также можете забрать заказ сами из удобного вам пункта выдачи или постамата. Благодаря возможности примерить одежду, вернуть не подошедшие вам товары и выбрать разные способы оплаты делать у нас покупки приятно и удобно.
    </p>
</div>

{% endblock %}